# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL

_Objectives:_
* Collecting data
* Processing data
* Exploring and visualizing data
* Analyzing (data) and/or applying machine learning (to data)
* Deciding (or planning) based on acquired insight

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. NumPy
3. TensorFlow
4. Scikit-learn
5. Pandas
6. PyTorch

| Data Science Tools |
| ------ |
| Apache Spark |
| IBM SPSS |
| Keras |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [10]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [30]:
# This will convert 200 minutes to hours by diving by 60
value = 200/60 
print('length in hours is : {}'.format(float(value)))

length in hours is : 3.3333333333333335

## Autor: 
Adnan Almarzooq